html
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial black;
    text-decoration-color: #000000;
}

header
{
    background-color: #191970;
    color: black;
    padding:30px;
    text-align: left;
    font-family: georgia,serif;
    background-image: url(spitfiretext.jpg);
}
header img{
    float: right;
    width: 15%;
    height: auto;
    opacity: 20;
}
header h2
{
    margin-bottom: 7px;
    font-size: 35px;

}

body
{
    background-color: #E0FFFF;
}
 
.Home
{
    max-width: 1080px;
    margin: 20px auto;
    background-color: darkblue;
    padding: 15px;
    overflow: hidden;
}
.blog
{
     text-align: center;
     font-family: raleway;
     margin-bottom: 80px;
     font-family: sans-serif;

}
 

 
.navigasi ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#D3D3D3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
 
.navigasi li 
{
    float: left;
}
 
.navigasi li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-family: comic sans MS;
}
 
.navigasi li a:hover 
{
    background-color:red;
    transition-duration: 2s;
    font-family: comic sans MS;
}
 
.Image
{
    margin-bottom: 15px;
    display: block;
    width: 100%;
    height: 330px;
}
.skate
{
    width: 300px;
    height: 180px; 
}
.fotokonten 
{
    width: 400px;
    height: 200px;
}
.konten1
{
    background-color: #DCDCDC;
    width: 467px;
    height: 1100px;
    border: 1px solid black;
    float: left;
    margin: 10px;
    padding: 5px;
    text-align: left;
}
.konten2
{
    background-color: #DCDCDC;
    width: 467px;
    height: 1100px;
    border: 1px solid black;
    float: left;
    margin:10px;
    padding: 5px;
    text-align: left;
}
.konten3
{
    background-color: #DCDCDC;
    width: 467px;
    height: 1100px;
    border: 1px solid black;
    float: left;
    margin:10px;
    padding: 5px;
    text-align: left;
}
.konten1
{
    background-color: white;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    float: left;
    margin: 10px;
    padding: 5px;
    text-align: center;

}
.konten5
{
    width: 200px;
    height: 200px;
    float: left;
    
}
.konten6
{

text-align: left;
}
.wheels
{
    background-color: white;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    float: left;
    margin: 10px;
    padding: 5px;
    text-align: center;

}
.wheels1
{
    width: 150px;
    height: 150px;
    float: left;
    
}
.wheels2
{

text-align: left;
}
.trucks
{
    background-color: white;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    float: left;
    margin: 10px;
    padding: 5px;
    text-align: center;

}
.trucks1
{
    width: 150px;
    height: 150px;
    float: left;
    
}
.trucks2
{

text-align: left;
}
.shoes
{
    background-color: white;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    float: left;
    margin: 10px;
    padding: 5px;
    text-align: center;

}
.shoes1
{
    width: 150px;
    height: 150px;
    float: left;
    
}
.shoes2
{

text-align: left;
}
.bearing
{
    background-color: white;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    float: left;
    margin: 10px;
    padding: 5px;
    text-align: center;

}
.bearing1
{
    width: 150px;
    height: 150px;
    float: left;
    
}
.bearing2
{

text-align: left;
}
footer
{
    clear: both;
    background-color: #000000;
    color: white;
    padding: 15px;
    text-align: center;
}
.Tentang
{
    text-align: center;
}
.containerfooter
{
    text-align: center;
}
.Comment
{
  background-color: #000000;
  margin-top:0px;
  color: white;
  height: 60%;
  padding: 50px;
  font-family: comic sans MS;
}
